
@using eCommerceSite.Data;
@using eCommerceSite.Models;
@using eCommerceSite.Models.Entities;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<style>
    .offcanvas-body .nav-link.active {
        background-color: #D4403A;
        color: white;
    }

    .offcanvas-body .nav-link {
        background: 0 0;
        border: 0;
        border-radius: .25rem;
        display: block;
        padding: .5rem 1rem;
        text-decoration: none;
        transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
        color: #D4403A;
    }
</style>

<script>
    $(function () {
        const categoryOffcanvasHeight = window.innerHeight;
        $("div.category-offcanvas").css({ "height": categoryOffcanvasHeight, "visibility": "visible" })

        $(".offcanvas-body .nav-link").removeClass("active")
        var id = window.location.href.split("/").at(-1)
        id = (id == 'Products') ? '#Any' : '#' + id;
        console.log(id)
        $(id).addClass("active")
    })


    function handleAddToCart(id) {
        var json = {
            productId: id
        };
        $.ajax({
            type: "post",
            dataType: "json",
            data: { "json": JSON.stringify(json) },
            url: "@Url.Action("AddToCart", "Shop")",
            success: function (data) {
                $('#addedModalLabel').text(data.message)
                $('#addedModal').modal('show');
            },
            error: function (err) {
                console.log(err);
            }
        })
    }
</script>

<div class="modal fade mt-5" id="addedModal" tabindex="-1" role="dialog" aria-labelledby="addedModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addedModalLabel"></h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Okay</button>
            </div>
        </div>
    </div>
</div>

<div class="d-flex flex-row">

    <div class="offcanvas offcanvas-start show category-offcanvas" data-bs-keyboard="false" tabindex="-1" data-bs-scroll="true" data-bs-backdrop="false" id="categories" aria-labelledby="categoriesLabel">
        <div class="offcanvas-header">
            <p class="navbar-brand mb-0" id="categories">@typeof(Categories).Name</p>
        </div>
        <div class="offcanvas-body">
            <a class="nav-link" id="Any" asp-area="" asp-controller="Shop" 
                asp-action="Products" asp-route-id="@null">All</a>
            <br />
            @{
                foreach (string name in Enum.GetNames(typeof(Categories)))
                {
                            <a class="nav-link" id="@name" href="@Url.Action("Products", "Shop", new {id = name})">@name</a>
                            <br />
                }
            }
        </div>
    </div>

    <div class="container d-flex flex-column overflow-auto p-4 m-0"">
        <div class="row row-cols-3 m-0">
            @foreach (Product product in Model)
            {
                string img = (product.Image is not null) ? product.Image : "../../images/product.png";
                <div class="p-3">
                    <div class="card">
                        <img class="card-img-top" src=@img alt="Product Image" onload="this.parentElement.querySelector('#spinner').hidden = true"  />
                        <img class="card-img-top" id="spinner" src="../../images/spinner.gif" alt="Loading..." />
                        <div class="card-body">
                            <h5 class="card-title">@product.Name</h5>
                            <p class="card-text">@product.Price.ToString("C", System.Globalization.CultureInfo.CurrentCulture)</p>
                            <button class="btn btn-danger" onclick="handleAddToCart(@product.Id)">Purchase</button>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

</div>

